<div style="width:100%" layout="row">
    

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar  layout-align="center center" layout="row" class="md-whiteframe-z1">
            <h1>
                Manage Suppliers
            </h1>
        </md-toolbar>

        <md-content flex id="content" >
              <section layout="column" layout-sm="column" layout-wrap> <br>
                    <md-button class="md-raised md-info" href='#/'>Back</md-button> <br>
      				<h4>Add Supplier</h4>
      				<md-input-container class="md-icon-float md-block">
     					<input ng-model="supplier.newName" type="text"  placeholder="Supplier Name">
    				</md-input-container>
    				<md-button class="md-raised md-info" ng-click="addSupplier()">Add Supplier</md-button> <br>
                </section>

                <md-divider></md-divider>
                
                <section>
                	<h4>Suppliers List</h4>
	  				<md-list>
		  				<md-list-item ng-repeat="supplier in suppliers | orderBy:'name' track by $index"  class="noright">
			    			<p>{{ supplier.name }} </p>
			    			<md-button class="md-raised md-warn" ng-click="removeSupplier(supplier)">
			    				Remove
			    			</md-button>
		  				</md-list-item>
					</md-list>
				</section>
        </md-content>

    </div>
</div>